<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员权限管理</title>
</head>
<body>
    <h2 style="text-align: center">管理员权限管理</h2>
    <hr>
    <div>
        <form action="addgroup" method="get">
            <label for="id">id</label>
            <input name="id" id="id" type="text"><br>
            <label for="name">name</label>
            <input name="name" id="name" type="text"><br>
            <input type="submit" value="提交">
        </form>
    </div>
</body>
</html>